<h2><strong><%= 'Material' %></strong></h2>

<p>
  <b><%= 'Title' %></b>
  <%= @material.title %>
</p>

<p>
  <b><%= 'File image' %></b>
  <div>
  <%= image_tag(@material.image) %>
  </div>
</p>


<%= link_to 'Index', admin_materials_path %>
