<h2><strong><%= 'Material' %></strong></h2>

<p>
  <b><%= 'Title' %></b>
  <%= @material.title %>
</p>

<p>
  <b><%= 'File path' %></b>
  <%= @material.image_url %>
</p>


<%= link_to 'Index', admin_materials_path %>
