<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">заполнения</div>
    <div class="section-description">В этом разделе предоставлено 150 вариантов заполнений встроенных шкафов купе и гардеробных. Возможно Вы найдёте интересующую Вас конструкцию. Каждый проект, будь то встроенный шкаф купе, гардероб или библиотека, любая мебель проектируется для каждого заказчика индивидуально.</div>
    <div id="list">
      <div class="categories-wrp border_top">
        <ul class="categories-list categories-list_fill">
          <li>
            <%= link_to_unless_current("Шкафы 1,1 — 1,5 м", fillings_path(:category => 'smallcoupe' ), class: 'link_dashed') { link_to("Шкафы 1,1 — 1,5 м", fillings_path(:category => 'smallcoupe' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Шкафы 1,5 — 2,2 м", fillings_path(:category => 'mediumcoupe' ), class: 'link_dashed') { link_to("Шкафы 1,5 — 2,2 м", fillings_path(:category => 'mediumcoupe' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Шкафы более 2,2 м", fillings_path(:category => 'bigcoupe' ), class: 'link_dashed') { link_to("Шкафы более 2,2 м", fillings_path(:category => 'bigcoupe' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Библиотеки", fillings_path(:category => 'biblio' ), class: 'link_dashed') { link_to("Библиотеки", fillings_path(:category => 'biblio' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Шкафы глубиной до 450 мм", fillings_path(:category => 'box' ), class: 'link_dashed') { link_to("Шкафы глубиной до 450 мм", fillings_path(:category => 'box' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Однорельсовые системы", fillings_path(:category => 'onerail' ), class: 'link_dashed') { link_to("Однорельсовые системы", fillings_path(:category => 'onerail' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Гардеробные", fillings_path(:category => 'wardrobe' ), class: 'link_dashed') { link_to("Гардеробные", fillings_path(:category => 'wardrobe' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Ниши", fillings_path(:category => 'nisha' ), class: 'link_dashed') { link_to("Ниши", fillings_path(:category => 'nisha' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Угловые шкафы", fillings_path(:category => 'corner' ), class: 'link_dashed') { link_to("Угловые шкафы", fillings_path(:category => 'corner' ), class: 'link_round') } %>
          </li>
          <li>
            <%= link_to_unless_current("Показать все", fillings_path(:category => nil ), class: 'link_dashed') { link_to("Показать все", fillings_path(:category => nil ), class: 'link_round') } %>
          </li>
        </ul>
      </div>
      <div class="photo-content border_top">
        <ul class="photo-navigation">
          <%= will_paginate @fillings %>
        </ul>
        <ul class="photo-list">
          <% @fillings.each do |f| %>
            <li>
              <a class="photo-list__link">
                <div>
                  <%= image_tag(f.image) %>
                </div>
              </a>
            </li>
          <% end %>     
        </ul>
      </div>
    </div>
  </div>
  <div class="content-footer border_top">
    <div>Шкаф купе — это тоже искусство!</div>
    <div class="text_orange">ARTCOUPE.</div>
  </div>
</div>