<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">заполнения</div>
    <div class="section-description">В этом разделе предоставлено 150 вариантов заполнений встроенных шкафов купе и гардеробных. Возможно Вы найдёте интересующую Вас конструкцию. Каждый проект, будь то встроенный шкаф купе, гардероб или библиотека, любая мебель проектируется для каждого заказчика индивидуально.</div>
    <div id="list">
      <div class="categories-wrp border_top">
        <ul class="categories-list categories-list_fill">
          <li>
            <%= link_to "Шкафы 1,1 — 1,5 м", params.merge({:category => 'smallcoupe'}), class: "#{ (params[:category] == 'smallcoupe') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Шкафы 1,5 — 2,2 м", params.merge({:category => 'mediumcoupe'}), class: "#{ (params[:category] == 'mediumcoupe') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Шкафы более 2,2 м", params.merge({:category => 'bigcoupe'}), class: "#{ (params[:category] == 'bigcoupe') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Библиотеки", params.merge({:category => 'biblio'}), class: "#{ (params[:category] == 'biblio') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Шкафы глубиной до 450 мм", params.merge({:category => 'box'}), class: "#{ (params[:category] == 'box') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Однорельсовые системы", params.merge({:category => 'onerail'}), class: "#{ (params[:category] == 'onerail') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Гардеробные", params.merge({:category => 'wardrobe'}), class: "#{ (params[:category] == 'wardrobe') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Ниши", params.merge({:category => 'nisha'}), class: "#{ (params[:category] == 'nisha') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Угловые шкафы", params.merge({:category => 'corner'}), class: "#{ (params[:category] == 'corner') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Показать все", params.merge({:category => nil}), class: "#{ (params[:category] == nil) ? 'link_round' : 'link_dashed'}" %>
          </li>
        </ul>
      </div>
      <div class="photo-content border_top">
        <ul class="photo-navigation">
          <%= will_paginate @fillings %>
        </ul>
        <ul class="photo-list">
          <% @fillings.each do |f| %>
            <li>
              <a class="photo-list__link">
                <div>
                  <%= image_tag(f.image) %>
                </div>
              </a>
            </li>
          <% end %>     
        </ul>
      </div>
    </div>
  </div>
  <div class="content-footer border_top">
    <div>Шкаф купе — это тоже искусство!</div>
    <div class="text_orange">ARTCOUPE.</div>
  </div>
</div>