<h2><strong><%= 'Stack' %></strong></h2>

<p>
  <b><%= 'Title' %></b>
  <%= @stack.name %>
</p>

<p>
  <b><%= 'File image' %></b>
  <a class="photo-list__image">
  <%= image_tag(@stack.image) %>
  </a>
</p>

<%= link_to 'Index', admin_stacks_path %>
