<html>
<head>
  <title>TMM</title>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= csrf_meta_tags %>
  <style>
    #password {
      height: 30px;
    }
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="center">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <form class="form-horizontal" action="login_attempt" method="POST">
    <input type="password" id="password" name="password" placeholder="<%=t_s 'admin.login.password' %>" />
    <input type="hidden" id="return_to" name="return_to" value="<%= flash[:return_to] %>" />
    <button type="submit" class="btn"><%=t 'admin.login.login' %></button>
  </form>
</div>
</body>