<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">контакты</div>
    <div class="section-description contact-desription">Проконсультироваться и узнать ориентировочную стоимость Вашего проекта   Вы можете по телефонам: 
      <span class="text_blue text_bold">&nbsp;+ 7 (423) 278-00-08&nbsp;/&nbsp; + 7 (423) 277-04-51</span>
    </div>
      <div class="contact">
        <div class="contact-address">
          <div class="contact-row">
            <div class="text-title">Адрес:</div>
            <div>пр-т 100-летия Владивостоку, 103 
              <div>(Иллюзион), офис 434, 
                <div>Владивосток</div>
              </div>
            </div>
          </div>
          <div class="contact-row">
            <div class="text-title">Телефон:</div>
            <div>+ 7 (423) 237-51-28:</div>
          </div>
        </div>
            <div class = "contact-map" id="map-canvas"></div>
      </div>
      <div id="feedback">
        <%= form_for @feedback, :url => create_feedback_path, :html => {:class => 'contacts-form'}   do |f| %>
            <%= f.label 'Написать нам', :class => "text_blue text_bold" %>:
            <%= f.email_field :email, :placeholder => "E-mail", :class => "contact-mail" %><br />
            <%= f.text_area :text, :placeholder => "Текст сообщения" %><br />
            <%= f.submit "отправить", :class => "contact-submit" %>
        <% end %>
      </div>
    </div>
  </div>