<%= form_for [:admin, @filling], :builder => Admin::AdminFormBuilder do |f| %>

  <div class="field">
    <h4><label class="label label-primary">
    <%= f.label :name, 'Title' %>
    </label></h4>
    <%= f.text_field :name, :class => "form-control" , :id => "col-xs" %>
  </div>

 <div class="field">
  <label class="save">
    <%= f.file_field :image %>
  </label>
  </div>
  

  <%= f.submit 'Save' %>

<% end %>