<h2><strong><%= 'Fillings' %></strong></h2>

<table class="table">
  <tr>
    <th><%= 'File path' %></th>
    <th><%= 'Title' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @fillings.each do |filling| %>
  <tr>
    <td><%=  filling.image %></td>
    <td><%= filling.name %></td>
    <td><%= link_to 'Show', admin_filling_path(filling) %></td>
    <td><%= link_to 'Edit', edit_admin_filling_path(filling) %></td>
    <td><%= link_to 'Destroy', admin_filling_path(filling), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Create', new_admin_filling_path, :class => "btn btn-primary" %>
<br />

<ul class = "pagination">
    <%= will_paginate @fillings %>
</ul>