<h2 id="poz"><strong><%= 'Fillings' %></strong></h2>
  <ul class = "pagination">
      <%= will_paginate @fillings %>
  </ul>
<table class="table">
  <tr>
    <th><%= 'File image' %></th>
    <th><%= 'Title' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @fillings.each do |filling| %>
  <tr>
    <td>
      <ul class="photo-list">
              <li>
                <a class="photo-list__link">
                  <div>
                    <%= image_tag(filling.image) %>
                  </div>
                </a>
              </li>
          </ul>
    </td>
    <td><%= filling.name %></td>
    <td><%= link_to 'Show', admin_filling_path(filling) %></td>
    <td><%= link_to 'Edit', edit_admin_filling_path(filling) %></td>
    <td><%= link_to 'Destroy', admin_filling_path(filling), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
<div class="btncreate">
<%= link_to 'Create', new_admin_filling_path, :class => "btn btn-primary" %>
</div>
<br />