<h2><strong><%= 'Filling' %></strong></h2>

<p>
  <b><%= 'Title' %></b>
  <%= @filling.name %>
</p>

<p>
  <b><%= 'File path' %></b>
  <%= @filling.image %>
</p>

<%= link_to 'Index', admin_fillings_path %>
