<h2><strong><%= 'Filling' %></strong></h2>

<p>
  <b><%= 'Title' %></b>
  <%= @filling.name %>
</p>

<p>
  <b><%= 'File image' %></b>
  <a class="photo-list__image">
  <%= image_tag(@filling.image) %>
  </a>
</p>

<%= link_to 'Index', admin_fillings_path %>
