<%= form_for [:admin, @settings], :builder => Admin::AdminFormBuilder,
                                  :url => { :action => :save },
                                  :html => {
                                    :class => "settings-form",
                                    :id => "settings_form"
                                  } do |f| %>
  <div>
    <div class="field">
      <h4><%= f.label :old_password, 'Old Password', :class => "label label-primary" %></h4>
      <%= f.password_field :old_password, :class => "form-control" , :id => "col-xs" %>
    </div>
    <div class="field">
      <h4><%= f.label :new_password, 'New Password', :class => "label label-primary" %></h4>
      <%= f.password_field :new_password, :class => "form-control" , :id => "col-xs" %>
    </div>
    <div class="field">
      <h4><%= f.label :new_password_confirmation, 'New Password Confirmation', :class => "label label-primary" %></h4>
      <%= f.password_field :new_password_confirmation, :class => "form-control" , :id => "col-xs" %>
    </div>
  </div>
  <hr class="span12" />
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>