<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">Материалы</div>
    <div class="warranty">
      <div class="warranty_large">2 года гарантии</div>
      <div class="warranty_small">на установленную мебель</div>
    </div>
    <div class="section-description">Для изготовления шкафов купе мы используем ДСП Австрийского (EGGER) и Российского производства.</div>
    <div id="list">
      <div class="categories-wrp border_bottom border_top">
        <ul class="categories-list categories-list_fill">
          <li>
            <%= link_to "Цвет ДСП", params.merge({:category => 'dsp'}), class: "#{ (params[:category] == 'dsp') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Цвет профиля", params.merge({:category => 'color prof'}), class: "#{ (params[:category] == 'color prof') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Прочие материалы", params.merge({:category => 'other'}), class: "#{ (params[:category] == 'other') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Показать все", params.merge({:category => nil}), class: "#{ (params[:category] == nil) ? 'link_round' : 'link_dashed'}" %>
          </li>
        </ul>
      </div>
      <div class="photo-content">
        <ul class="photo-navigation">
          <%= will_paginate @materials %>
        </ul>
        <ul class="color-list">
          <% @materials.each do |m| %>
            <li>
              <a class="color-list__item">
              <div>
                <%= image_tag(m.image_url) %>
              </div>
                <div class="color-list__hover">
                  <span class="vertical-center"><%= m.title %></span>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-footer border_top">
    <div>Шкаф купе — это тоже искусство!</div>
    <div class="text_orange">ARTCOUPE.</div>
  </div>
</div>