<div class="layout-content">
  <div class="content">
    <div class="title_round title_orange title_large">шкафы</div>
    <div class="section-description">В этом разделе представлены фотографии и проекты (с размерами) встроенных шкафов купе и гардеробов, изготовленных нашей компанией. Все представленные фото — наши работы, защищены авторским правом.
    </div>
    <div id="list">
      <div class="categories-wrp border_bottom border_top">
        <ul class="categories-list">
          <li class="indent_horiz">Количество дверей:</li>
          <li>
            <%= link_to "2 двери", params.merge({:category => '2dors'}), class: "#{ (params[:category] == '2dors') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "3 двери", params.merge({:category => '3dors'}), class: "#{ (params[:category] == '3dors') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li>
            <%= link_to "Более 3-х", params.merge({:category => 'moredors'}), class: "#{ (params[:category] == 'moredors') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li class="indent_horiz">Тип шкафа:</li>
          <li>
            <a href="/cabinets?kind" class="link_dashed" data-remote="true">Прямой</a>
          </li>
          <li>
            <a href="/cabinets?kind" class="link_dashed" data-remote="true">Угловой</a>
          </li>
          <li>
            <%= link_to "Стеллажи", params.merge({:category => 'stacks'}), class: "#{ (params[:category] == 'stacks') ? 'link_round' : 'link_dashed'}" %>
          </li>
          <li class="indent_horiz">Тон:</li>
          <li>
            <a href="/cabinets?tone" class="link_dashed" data-remote="true">Светлый</a>
          </li>
          <li>
            <a href="/cabinets?tone" class="link_dashed" data-remote="true">Темный</a>
          </li>
          <li><%= link_to "Показать все", params.merge({:category => nil}), class: "#{ (params[:category] == nil) ? 'link_round' : 'link_dashed'}" %>
          </li>
        </ul>
      </div>
      <div class="photo-content border_top">
        <ul class="photo-navigation">
          <%= will_paginate @cabinets %>
        </ul>
        <ul class="photo-list">
          <% @cabinets.each do |c| %>
            <li>
              <a class="photo-list__link">
                <div>
                  <%= image_tag(c.image) %>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-footer border_top">
    <div>Шкаф купе — это тоже искусство!</div>
    <div class="text_orange">ARTCOUPE.</div>
  </div>
</div>
