<h2><strong><%= 'Cabinet' %></strong></h2>

<p>
  <b><%= 'Title' %></b>
  <%= @cabinet.name %>
</p>

<p>
  <b><%= 'File path' %></b>
  <%= @cabinet.image %>
</p>

<%= link_to 'Index', admin_cabinets_path %>
