<h2><strong><%= 'Cabinet' %></strong></h2>

<p>
  <b><%= 'Title' %></b>
  <%= @cabinet.name %>
</p>

<p>
  <b><%= 'File image' %></b>
  <a class="photo-list__image">
  <%= image_tag(@cabinet.image) %>
  </a>
</p>

<%= link_to 'Index', admin_cabinets_path %>
