<div class="layout-content">
	<div class="content">
		<div class="index-head">
			<div class="info-block">
				<span class="text_orange">ARTCOUPE </span>- ШКАФЫ КУПЕ И МЕБЕЛЬ НА ЗАКАЗ, КАЧЕСТВЕННАЯ РАБОТА, СДЕЛАННАЯ НА СОВЕСТЬ. 
			</div>
			<div class="page-info">
				<div class="title_round title_orange title_large">ARTCOUPE</div>
				<div class="warranty">
					<div class="warranty_large">2 года гарантии</div>
					<div class="warranty_small">на установленную мебель</div>
				</div>
				<div class="section-description">Важное преимущество компании ARTCOUPE — индивидуальность, внимательный и продуманный подход. Мы предоставляем полный цикл работ, включающий в себя обмер, создание дизайна, изготовление, доставку и установку мебели.</div>
				<a href="/qualities" class="link_dashed text_blue">Подробнее</a>
			</div>
		</div>
		<div id="cabinets">
			<div class="index-rotator">
				<ul class="index-rotator-control">
					<li class="title_orange title_round title_small">Последние работы</li>
					<li class="text_small">Посмотреть все работы:</li>
					<li>
						<%= link_to_unless_current("Шкафы", store_path(:category => '2dors' ), class: 'link_solid') { link_to("Шкафы", store_path(:category => '2dors' ), class: 'link_round') } %>
					</li>
					<li>
						<%= link_to "Стеллажи", params.merge({:category => 'stacks'}), class: "#{ (params[:category] == 'stacks') ? 'link_round' : 'link_solid'}" %>
					</li>
				</ul>
				<div class="index-rotator-wrp">
					<ul class="index-rotator-list">
						<li class="index-rotator-page">
							<ul>
								<% @cabinets.each do |c| %>
            								<li>
				              				<a class="photo-list__link">
				                					<div>
				                  						<%= image_tag(c.image) %>
				                					</div>
				              				</a>
            								</li>
          							<% end %>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="index-about border_top border_bottom">
			<div class="index-about_left">
				<div class="title_round title_small title_blue">Как мы работаем</div>
				<p>Шкафы купе и любая мебель на заказ, изготавливается только из <a class="link_solid" href="/">Австрийского и Российского ДСП</a>, оснащается надёжной фурнитурой. Двери шкафа купе, выполненные из лёгкого и прочного алюминия, в сочетании со стеклом, интерьерными материалами и искусственной кожей, создадут неповторимый стиль Вашего интерьера. Конструкция шкафа купе проектируется в зависимости от Ваших пожеланий и функционального назначения, учитывая геометрию места под установку шкафа купе или мебельную конструкцию.
				</p>
				<p>Шкафы купе, как и другая мебель на заказ проектируется сразу на месте — это очень удобно. Наш специалист измерит место, предложит дизайн проект шкафа купе или другой мебели на заказ, учитывая Ваши пожелания. В кротчайший срок Ваш заказ будет изготовлен и новая мебель украсит Ваш дом.
				</p>
				<p class="text_bold">Наша компания осуществляет установку мебели и встроенных шкафов купе в следующих городах: Владивосток, Артём, Уссурийск.</p>
			</div>
			<div class="index-about-right">
				<div class="title_round title_small title_blue">Что мы производим</div>
				<ul class="list-round" id="production">
					<li>Встроенные шкафы купе</li>
					<li>Отдельностоящие шкафы купе</li>
					<li>Мебель для библиотеки</li>
					<li>Мебель для гостиной</li>
					<li>Угловые шкафы купе</li>
					<li>Гардеробы, гардеробные комнаты</li>
					<li>Мебель для кухни</li>
					<li>Мебель для аудио-видео техники</li>
					<li>Профильные стеллажные системы</li>
					<li>Мебель для спальни</li>
					<li>Шкафы купе для прихожих</li>
					<li>Встроенная мебель для прихожей</li>
					<li>Мебель в ванную</li>
					<li>Мебель на заказ для офиса</li>
					<li>Двери купе одинарные</li>
					<li>Перегородки из дверей купе</li>
				</ul>
			</div>
			<div class="clear">
			</div>
		</div>
		<div id="materials">
			<div class="index-rotator">
				<ul class="index-rotator-control">
					<li class="title_orange title_round title_small">Популярные материалы</li>
					<li class="text_small">Посмотреть все материалы:</li>
					<li>
						<%= link_to "Цвет ДСП", params.merge({:category => 'dsp'}), class: "#{ (params[:category] == 'dsp') ? 'link_round' : 'link_solid'}" %>
					</li>
					<li>
						<%= link_to_unless_current("Цвет профиля", store_path(:category => 'color prof' ), class: 'link_solid') { link_to("Цвет профиля", store_path(:category => 'color prof' ), class: 'link_round') } %>
					</li>
					<li>
						<%= link_to_unless_current("Прочие материалы", store_path(:category => 'other' ), class: 'link_solid') { link_to("Прочие материалы", store_path(:category => 'other' ), class: 'link_round') } %>
					</li>
				</ul>
				<div class="index-rotator-wrp">
					<ul class="index-rotator-list">
						<li class="index-rotator-page">
							<ul>
							  	<% @materials.each do |m| %>
							            <li>
							              <a class="color-list__item">
							              <div>
							                <%= image_tag(m.image_url) %>
							              </div>
							                <div class="color-list__hover">
							                  <span class="vertical-center"><%= m.title %></span>
							                </div>
							              </a>
							            </li>
							       <% end %>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="index-info border_top">
			<div class="contact">
				<div class="contact-address">
					<div class="contact-row">
						<div class="text-title">Адрес:</div>
						<div>пр-т 100-летия Владивостоку, 103 
							<div>(Иллюзион), офис 434, Владивосток</div>
						</div>
					</div>
					<div class="contact-row">
						<div class="text-title">Телефон:</div>
						<div>+ 7 (423) 278-00-08</div>
						<div>+ 7 (423) 277-04-51</div>
						<a href="/contacts" class="link_solid">Подробнее</a>
					</div>
				</div>
				<div class = "contact-map" id="map-canvas"></div>
			</div>
			<div class="index-faq">
				<div class="title_blue title_round title_small">Вопросы и ответы</div>
				<div class="index-faq-wrp">
					<ul class="index-faq-list">
						<li class="index-faq__item">
							<div class="faq__text">Вы предоставляете гарантию на шкафы?</div>
							<a href="/faq?number=17" class="faq__link">получить ответ</a>
						</li>
					</ul>
				</div>
				<a href="/faq?number=17" class="control_r"></a>
			</div>
		</div>
	</div>
	<div class="content-footer border_top">
		<div>Шкаф купе — это тоже искусство!</div>
		<div class="text_orange">ARTCOUPE.</div>
	</div>
</div>