<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    	<meta charset="utf-8">
    
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true">
	</script>

    <script type="text/javascript">

function initialize() {
  var mapOptions = {
    zoom: 17,
    center: new google.maps.LatLng(43.162498,131.911582),
    disableDefaultUI: true,
    rotateControl: false,
    scrollwheel: false,
    mapTypeControl:false,
   draggable: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

 var image = 'pin.png';
  var myLatLng = new google.maps.LatLng(43.162671,131.911552);
  var beachMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

  <link rel="shortcut icon" href="/assets/images/favicon.png">
  <title>Шкафы купе и мебель на заказ, г.Владивосток. ARTCOUPE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div class="layout">
		<div class="layout-middle">
			<div class="layout-header">
				<div class="header">
					<div class="header-top">
						<div class="header-phone">
							<div class="phone text_blue">+7 (423) 278-00-08</div>
							<div class="phone-hint">Всегда рады помочь!</div>
						</div>
						<div>
							<%= link_to ' ', root_path, class: 'site-logo' %>
						</div>
					</div>
						<div class="header-menu-wrp border_bottom border_top">
							<ul class="header-menu">
								<li>
									<%= link_to_unless_current("о компании", store_path, class: 'header-menu__item') { link_to("о компании", store_path, class: 'header-menu__item_active') } %>	
								</li>
								<li>
            								<%= link_to_unless_current("фото шкафов", cabinets_path, class: 'header-menu__item') { link_to("фото шкафов", cabinets_path, class: 'header-menu__item_active') } %>
            							</li>
								<li>
									<%= link_to_unless_current("качество", fillings_path, class: 'header-menu__item') { link_to("качество", fillings_path, class: 'header-menu__item_active') } %>
								</li>
								<li>
									<%= link_to_unless_current("заполнения", qualities_path, class: 'header-menu__item') { link_to("заполнения", qualities_path, class: 'header-menu__item_active') } %>
								</li>
								<li>
									<%= link_to_unless_current("стеллажи", stacks_path, class: 'header-menu__item') { link_to("стеллажи", stacks_path, class: 'header-menu__item_active') } %>
								</li>	
								<li>
									<%= link_to_unless_current("материалы", materials_path, class: 'header-menu__item') { link_to("материалы", materials_path, class: 'header-menu__item_active') } %>
								</li>
								<li>
									<%= link_to_unless_current("комплектующие", hardwares_path, class: 'header-menu__item') { link_to("комплектующие", hardwares_path, class: 'header-menu__item_active') } %>
								</li>
								<li>
									<%= link_to_unless_current("вопросы", faqs_path, class: 'header-menu__item_text_blue') { link_to("вопросы", faqs_path, class: 'header-menu__item_active_text_blue') } %>
								</li>
								<li>
									<%= link_to_unless_current("контакты", contacts_path, class: 'header-menu__item_text_blue') { link_to("контакты", contacts_path, class: 'header-menu__item_active_text_blue') } %>
								</li>
							</ul>
						</div>
					</div>
				</div>
			
		<%= yield %>
		</div>
		<div class="footer">
			<div class="border_top"></div>
			<div class="footer-menu">
					<li><a href="/">о компании</a></li>
					<li><a href="/cabinets">фото шкафов</a></li>
					<li><a href="/qualities">качество</a></li>
					<li><a href="/fillings">заполнения</a></li>
					<li><a href="/stacks">стеллажи</a></li>
					<li><a href="/materials">материалы</a></li>
					<li><a href="/hardwares">комплектующие</a></li>
					<li><a href="/faqs">вопросы</a></li>
					<li><a href="/contacts">контакты</a></li>
			</div>
			<div class="footer-rights text_orange">&copy;2005-2013. &nbsp;artcoupe.
			</div>
		</div>
	</div>
</body>
</html>